td{
	padding-bottom: 5px;
	padding-top: 5px;
}
th{
	width: 50%;
}
#page3_button{
	width : 95%; 
	text-align : center;
}
#page3_cancel{
	width: 150px;
	position: absolute;
	bottom: 10%;
	right: 15%;
}
#page3_submit{
	width: 150px;
	position: absolute;
	bottom: 10%;
	left: 15%;
}
#box_qrcode{
	width : 50%; 
	height : 160px; 
	float : left; 
	text-align : center; 
	padding-top : 10px;
}
#qrcode{
	width : 100%; 
	height : 160px; 
	float : left; 
	text-align : center;
}
#goods_qrcode{
	width : 120px; 
	height : 10px;
}
#box_list1{
	width : 50%; 
	height : 160px; 
	float : right; 
	padding-top : 20px;
}
#goods_name{
	font-size : 28px; 
	font-family : 黑体;
}
#box_list1_1{
	width : 100%; 
	height : 30px; 
	padding-top : 20px;
}
#box_list1_3,#box_list1_2{
	width : 100%; 
	height : 30px; 
	padding-top : 10px;
}
#span_title{
	float : left; 
	width : 100px; 
	font-size : 15px;
}
#goods_specifications,#goods_origin,#goods_No,#goods_marketprice,#goods_propmprice,#goods_salesprice,#goods_type,#goods_shopid,#goods_unit{
	float : left; 
	font-size : 15px; 
	width : 120px;
	/*onfocus : this.select();*/
}
#box_list2{
	width : 50%; 
	height : 260px; 
	float : left; 
	margin-top : 40px;
}
#box_list2_1{
	width : 100%; 
	height : 30px; 
	padding-left : 15px;
}
#box_list2_4,#box_list2_3,#box_list2_2{
	width : 100%; 
	height : 30px; 
	padding-top : 25px; 
	padding-left : 15px;
}
#box_list3{
	width : 50%; 
	height : 260px; 
	float : right; 
	margin-top : 30px;
}
#box_list3_1{
	width : 100%; 
	height : 30px;
}
#box_list3_3,#box_list3_2{
	width : 100%; 
	height : 30px; 
	padding-top : 25px;
}